.cart {
  margin: auto;
}

.cart-header {
  display: flex;
  margin: auto;
  max-width: 500px;
  color: white;
  justify-content: space-around;
  padding: 10px;
}

.cart-items {
  max-height: 50vh;
  overflow: scroll;
  list-style: none;
  padding: 0;
  max-width: 500px;
  margin: 0 auto ;
}

.price {
  font-size: 24px;
}