.carousel-item {
  width: 200px;
  height: 200px;
  background-color:  #F6F9FC ;
  border-radius: 3px;
  box-shadow: 0 30px 60px -12px rgba(50,50,93,0.25),0 18px 36px -18px rgba(0,0,0,0.3);
  padding: 10px;
  margin: 5px;
}

.phone-card {
  width: 95%;
  height: 70%;
  background-color: #f6a4ed27;
  margin: auto;
  border-radius: 3px;
}

.carousel-item-controls-container {
  padding: 10px 0;
  justify-content: space-between;
  display: flex;
}

.phone-card-text {
  font: bold 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}

.selected {
  background-color: #f6a4ed91;
}

.carousel-item-controls {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  margin-right: 5px;
}