.carousel-item {
  width: 200px;
  height: 200px;
  background-color: azure;
  margin: 5px;
}

.phone-card {
  width: 95%;
  height: 70%;
  background-color: bisque;
  margin: auto;
}

.carousel-item-controls {
  padding: 10px;
  justify-content: space-between;
  display: flex;
}