.carousel {
  margin: auto;
  display: flex;
  max-width: 1200px;
  width: 100%;
  text-align: center;
}

.carousel-item-container {
  display: flex;
  flex-wrap: wrap;
}

.carousel-control {
  margin: auto 5px;
  width: 50px;
}

@media only screen and (max-width: 1000px) {
  .carousel-item-container {
    width: 800px;
  }
}

@media only screen and (max-width: 850px) {
  .carousel-item-container {
    width: 600px;
  }
}