.carousel {
  margin: auto;
  display: flex;
  max-width: 1200px;
}

.carousel-item-container {
  background-color: aquamarine;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.carousel-control {
  height: 20px;
  margin: auto;
}