.cart-item{
  height: 200px;
  background-color: aqua;
  box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25),0 8px 16px -8px rgba(0,0,0,0.3);
}


.item-controls{
  display: flex;
  flex-direction: column;
  width: 200px;
}

.cart-item-img{
  width: 200px;
  height: 200px;
  align-items: center;
  background-color: aqua;
}

.remove-btn{
  width: 100px;
}

.item-info{
  width: 200px
}
