.cart-item{
  margin: 20px;
  display: flex;
  justify-content: space-between;
  background-color:  #F6F9FC ;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 10px 10px -10px rgba(50,50,93,0.25),0 18px 36px -18px rgba(0,0,0,0.3);
}

.item-controls{
  display: flex;
  flex-direction: column;
  width: 200px;
}

.cart-item-img{
  width: 200px;
  height: 100px;
  align-items: center;
  margin-bottom: 10px;
  background-color: rgba(5, 37, 61, 0.466) ;

}

.cart-item-img >.phone-card-text{
  color: white;
}

.remove-btn{
  display: block;
}

.item-info{
  display: flex;
  justify-content: center;
  width: 100%;
  color: black;
  align-items: center;
  vertical-align: center;
}

.show-more {
  margin-top: 10px;
  background-color: transparent;
  color: rgba(61, 215, 91);
  border: 2px solid rgba(61, 215, 91);
}